<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
    <h1>“join the club” by entering a secret passcode</h1>
    <form action="/club" method="POST">
      <label for="passcode">Passcode</label>
      <input id="passcode" name="passcode"  type="text" />

      <button>Submit</button>
    </form>

  </body>
</html>