
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

    <form method="POST" action="/new">
      <input type="text" name="messageText" placeholder="Message">
      <input type="text" name="messageUser" placeholder="User">
      <button type="submit">Submit</button>
   </form>
   
      <%- include('footer') %>
  </body>
</html>