
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>


    <p>New</p>
      <%- include('footer') %>
  </body>
</html>