<html>
  <head>
    <title>Items</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
    <h1>Items</h1>
    <ul>
      <% items.forEach(item => { %>
        <li><%= item.name %>, $<%= item.price %></li>
      <% }) %>
    </ul>

    <form method="GET" action="/additem">
      <input name="category" type="hidden" value="<%= category %>">
      <button type="submit">Add item</button>
   </form>

    <a href="/"><span> Home </span></a>
  </body>
</html>
