
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
    <h1>Categories</h1>
    <ul>
      <% categories.forEach(cat => { %>
        <li><a href="/category/<%= cat.category %>"><%= cat.category %></a></li>
      <% }) %>
    </ul>

  </body>
</html>

